<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %logger{36} %M - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Disable 3rd party loggers -->
        <Logger name="com.mongodb" level="WARN"/>
        <Logger name="org.mongodb" level="WARN"/>
        <Logger name="software.amazon.awssdk" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>

        <!-- Application loggers -->
        <Logger name="com.rockwellcollins.railwaynet" level="DEBUG"/>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>